@import "../../constants";

.extremes {
  font-size: 0.6875rem;
  display: flex;
  justify-content: center;
  margin: 0 1em;
  color: #5c6c70;
  line-height: normal;
  dl {
    margin: 0;
    &:first-child {
      margin-right: 1rem;
    }
  }
  dt {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  dd {
    margin: 0;
    padding: 0;
    strong {
      font-family: $font-serif;
      font-size: 0.9375rem;
    }
  }
}
