.chart {
  font-family: ABCSans;
  font-size: 1rem;
  background-color: var(--bg);
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  flex: 1 0 33%;
  min-width: 220px;

  --good: #159f8c;
  --bad: #cc365b;
}

.title {
  position: relative;
  z-index: 3;
  margin: 1em 0;
  font-size: 1.3125rem;
  font-weight: bold;
}

.small-multipes {
  display: flex;
  flex-wrap: wrap;
}
