:root {
  --good: #159f8c;
  --bad: #cc365b;
}

.chart {
  font-family: ABCSans;
  font-size: 1rem;
  background-color: #e9f7f7;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.title {
  position: relative;
  z-index: 3;
  margin-top: 0;
  font-size: 1.6rem;
  font-weight: bold;
  strong {
    font-weight: 700;
  }
}

.high-low {
  font-size: 0.6875rem;
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
  dl {
    margin: 0;
    &:first-child {
      margin-right: 1rem;
    }
  }
  dt {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  dd {
    margin: 0;
    padding: 0;
    strong {
      font-family: ABCSerif;
      font-size: 0.9375rem;
    }
  }
}

.current {
  position: relative;
  z-index: 3;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  font-family: ABCSerif;
  font-size: 0.875rem;
  font-weight: bold;
  pointer-events: none;

  margin: 0;
  > span {
    padding: 3px;
    background-color: rgba(233, 247, 247, 0.7);
    border-radius: 3px;
  }
  .key-number {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 1rem;
    line-height: 1;
  }
}

.good {
  color: var(--good);
}

.bad {
  color: var(--bad);
}
