@import "../../constants";

.hero {
  font-family: $font-sans;
  font-size: 1rem;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin: 0 auto;
}

.extremes {
  justify-content: center !important;
}

.title {
  position: relative;
  z-index: 3;
  margin-top: 0;
  font-size: 1rem;
  font-weight: normal;
  strong {
    font-weight: bold;
    white-space: nowrap;
  }
}

.more {
  display: block;
  border: 2px solid #000;
  border-radius: 3px;
  margin: 15px;
  padding: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  color: #000;
  text-decoration: none;
}

.footer {
  color: #586c70;
  font-size: 0.6875rem;
  text-align: left;
}
