@import "../../constants";

.embed {
  font-family: $font-sans;
  font-size: 1rem;
  color: rgb(17, 17, 17);
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.extremes {
  margin-top: -1.2rem !important;
}

.title {
  position: relative;
  z-index: 3;
  margin: 0 0 1em;
  font-size: 1rem;
  line-height: 1.4375rem !important;
  font-weight: normal !important;
  letter-spacing: 0.001em;
  strong {
    font-weight: bold;
    white-space: nowrap;
  }
}

.more,
.more:link,
.more:visited {
  display: block;
  border: 2px solid #000;
  border-radius: 3px;
  margin: 15px 10px;
  padding: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  color: #000;
  text-decoration: none;
}

.footer {
  color: #586c70;
  font-size: 0.6875rem !important;
  text-align: left;
  margin: 0 10px;
}
